<app-number value=1></app-number>
<app-number value=2></app-number>
<app-number value=3></app-number>
<app-number value=4></app-number>
<app-number value=5></app-number>
<app-number value=6></app-number>
<app-number value=7></app-number>
<app-number value=8></app-number>
<app-number value=9></app-number>
<app-number value=0></app-number>
<app-operator value='+'></app-operator>
<app-operator value='-'></app-operator>
<app-operator value='*'></app-operator>
<app-operator value='/'></app-operator>
