<div class="calculator">
  <app-display></app-display>
  <app-number (getNumber)="getNumber($event)" value="1"></app-number>
  <app-number (getNumber)="getNumber($event)" value="2"></app-number>
  <app-number (getNumber)="getNumber($event)" value="3"></app-number>
  <app-number (getNumber)="getNumber($event)" value="4"></app-number>
  <app-number (getNumber)="getNumber($event)" value="5"></app-number>
  <app-number (getNumber)="getNumber($event)" value="6"></app-number>
  <app-number (getNumber)="getNumber($event)" value="7"></app-number>
  <app-number (getNumber)="getNumber($event)" value="8"></app-number>
  <app-number (getNumber)="getNumber($event)" value="9"></app-number>
  <app-number (getNumber)="getNumber($event)" value="0"></app-number>
  <app-decimal (getDecimal)="getDecimal($event)"></app-decimal>
  <app-clear></app-clear>
  <app-operator (getOperation)="getOperation($event)" value='+'></app-operator>
  <app-operator (getOperation)="getOperation($event)" value='-'></app-operator>
  <app-operator (getOperation)="getOperation($event)" value='*'></app-operator>
  <app-operator (getOperation)="getOperation($event)" value='/'></app-operator>
  <app-equal (getResult)="getResult($event)" value='='></app-equal>
</div>
