.calculator{
  z-index: 100;
  border: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto 15% 15% 15% 15% 15%;
  font-size: 10px;
  width: 360px;
  height: 500px;
  background: linear-gradient(to bottom right, #8134af, #dd2a7b);
  box-shadow: 5px 5px 5px rgb(20, 20, 20);
}

app-clear {
  grid-column-start: 1;
  grid-row-start: 2;
}

.opposite {
  grid-column-start: 2;
  grid-row-start: 2;
}

.percent {
  grid-column-start: 3;
  grid-row-start: 2;
}

app-equal {
  grid-column-start: 4;
  grid-row-start: 6;
}

.divide {
  grid-column-start: 4;
  grid-row-start: 2;
}
.multiply {
  grid-column-start: 4;
  grid-row-start: 3;
}
.plus {
  grid-column-start: 4;
  grid-row-start: 4;
}
.minus {
  grid-column-start: 4;
  grid-row-start: 5;
}

.zero {
  grid-area: 6 / 1 / 7 / 3;
}

button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: solid 1px transparent;
  outline: none;
  border-style: solid;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

button:active {
  cursor: grabbing;
  border: none;
  -webkit-box-shadow: inset 0px 0px 5px #3f3f3f;
     -moz-box-shadow: inset 0px 0px 5px #3f3f3f;
          box-shadow: inset 0px 0px 5px #3f3f3f;
}

@media only screen and (max-width: 480px) {
  :host {
    width: 100%;
    height: 100%;
  }
  .calculator {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
