/* You can add global styles to this file, and also import other style files */

body {
  background-color: #6dc5ff;
}

button {
  border: solid 1px #c4c4c4;
  height: 60px;
  background-color: #26a6fc;
  font-family: 'Lato', sans-serif;
}
