/* You can add global styles to this file, and also import other style files */

body {
  z-index: -10;
  margin: 0;
  background: linear-gradient(-45deg, #123, rgb(35, 87, 139));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  overflow: hidden;
}
